<div class="container">
  <div class="row text-center">
    <h2>サインアップ</h2>
    <form action="#" method="post">
    <div class="field">
      <h3>名前</h3>
        <p>ニックネーム</p>
          <input type="text" name="name"></p>
    </div>
    <div class="field">
      <h3>性別</h3>
        <p>
          <input type="radio" name="hyouka" value="good" checked="checked">男
          <input type="radio" name="hyouka" value="bad">女
        </p>
    </div>
    <div class="field">
      <h3>○期生</h3>
          <input type="text" name="name">期生</p>
    
　　<div class="field">
      <h3>言語</h3>
          <input type="radio" name="hyouka" value="good" checked="checked">JAVA
          <input type="radio" name="hyouka" value="bad">PHP
          <input type="radio" name="hyouka" value="bad">Python
    </div>
    <div class="field">
      <h3>pass</h3>
          <input type="text" name="name"></p>
    </div>
  　<div class="actions">
      <input type="button" value="登録">
    </div>
  </form>
